@media(min-width:992px) and (max-width:1199.98px){

}

@media(min-width:768px) and (max-width:991.98px){
    /* banner part */
    #banner{
        height: 750px;
    }
    #banner .row{
        height: 750px;
    }
}

@media(min-width:576px) and (max-width:767.98px){
    /* banner part */
    #banner{
        height: 650px;
    }
    #banner .row{
        height: 650px;
    }
    /* footer part */
    .footer-card{
        text-align: center;
        margin: 25px 0;
    }
}


@media(max-width:575.98px){
    /* banner part */
    .banner_cnt h1{
        font-size: 26px;
        padding: 10px 0;
        line-height: 30px;
    }
    .banner_cnt a{
        font-size: 16px;
        padding: 12px 25px;
        border-radius: 33px;
        display: inline-block;
        margin-top: 10px;
    }
    #online_course .card-body p span{
        float: none;
    }
    /* footer part */
    .footer-card{
        margin: 25px 0;
        text-align: center;
    }
}

@media(max-width:767.98px){
    #nav ul li a{
        padding: 20px 0;
        text-align: center;
    }
}
