*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul,ol,h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
}
/* navigation part start */
#nav{
    background-color: #F0FFF0;
}
.navbar img{
    height: 59px;
    width: 198.07142639160156px;

}
#nav ul li a{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    padding: 0 20px;
}
/* navigation part ends */

/* banner part starts */
#banner{
    height: 550px;
    background-color: #F0FFF0;
}
#banner .row{
    height: 550px;
}
.banner_cnt h5{
    font-size: 16px;
    font-weight: 400;
    color: #FD511A;
}
.banner_cnt h1{
    font-size: 48px;
    font-weight: 700;
    color: #000;
    padding: 15px 0;
    line-height: 70px;
}
.banner_cnt h1 span{
    color: #21B573;
}
.banner_cnt p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6B6B;
}
.banner_cnt a{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: #21B573;
    padding: 12px 36px;
    border-radius: 33px;
    display: inline-block;
    margin-top: 15px;
}
.banner_img img{
    height: 100%;
    width: 100%;
}
/* banner part ends */

/* book part starts */
#book{
    margin: 40px 0 90px 0;
}
#book .card img{
    height: 85px;
    width: 66px;
    margin: auto;
}
#book .card{
    border: none;
    background-color: #F8FFFB;
    text-align: center;
    padding-top: 40px;
}
#book .card h5{
    font-size: 24px;
    font-weight: 600;
    color: #413960;
}
#book .card p{
    padding: 10px 40px 40px 40px;
}
/* book part ends */

/* online-course part starts */
#online_course h1,
#testi h1{
    font-size: 36px;
    font-weight: 700;
    color: #413960;
    text-align: center;
    margin-bottom: 60px;
}
#online_course .card{
    border: none;
    padding: 15px;
    box-shadow: 1px 1px 12px 2px rgba(0,0,0,0.4);
-webkit-box-shadow: 1px 1px 12px 2px rgba(0,0,0,0.4);
-moz-box-shadow: 1px 1px 12px 2px rgba(0,0,0,0.4);
}
#online_course .card-body h3{
    font-size: 24px;
    font-weight: 500;
    color: #413960;
    padding: 15px 0;
}
#online_course .card-body h5{
    font-size: 16px;
    font-weight: 400;
    color: #585859;
}
#online_course .card-body a{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: #21B573;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 33px;
    margin: 15px 0;
}
#online_course .card-body p{
    font-size: 16px;
    font-weight: 400;
    color: #585859;
    padding: 10px 0 20px 0;
}
#online_course .card-body p span{
    float: right;
}
/* online-course part ends */

/* testimonial part starts */
#testi{
    margin: 90px 0;
}
#testi h1{
    color: #000;
}
.testi_img img{
    width: 100%;
    height: 100%;
}
#testi p{
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
/* testimonial part ends */